page {
    width: 100vw;
    height: 100vh;
}

.canvas-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top right, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
        linear-gradient(to top right, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
    background-size: 20px 20px;
    background-position: 0px 0px, 10px 10px;

    .canvas-wrapper {
        width: 600rpx;
        height: 900rpx;
    }

    .btn-save {
        margin-top: 40rpx;
        border-radius: 40rpx;
        color: #ccc;
        background-color: #333842;
    }
}
